div.root-card {
  min-width: 160px;
}

button.load-button {
  background-color: aqua;
  padding: 4px;
  border-radius: 4px;
  border: grey 1px solid;
}

ul.link-list {
  background-color: lightgrey;
  padding: 4px;
  border-radius: 4px;
  border: darkgrey 1px solid;
}
